@import '../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/bootstrap5.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap5.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/bootstrap5.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/bootstrap5.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/bootstrap5.css';
@import "../node_modules/@syncfusion/ej2-react-filemanager/styles/bootstrap5.css";


.app{
  display: flex;
  background-color: #f8f8f8;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100;
  }
  
  .userScreen,
  .calendar,
  .home{
    overflow-y: scroll;
    height: 100vh;
    /* border: 2px solid yellowgreen; */
   }
  .app__main{
    justify-self: flex-end;
    align-self: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     /* flex: 0.8; */
     width: 81%;
     
  }
 
  .subMain{
    /* flex: 0.2; */
    width:19%;
    height: 100vh;
    margin: 0;
  }
  .navbar__menuIcon{
    margin-left: 1rem;
    display: none;
    cursor: pointer;
}
.overViewCard{width:"280px"; height:"150px";background-color:"white"; border-radius:"10px";}
@media screen and (max-width: 576px) {
  .navbar__menuIcon{
    display: block;
  align-self: flex-start;
    cursor: pointer;
}
.overViewCard,
.clientCard,
.transactionCard{
  width: 80%;
}
.sidebar__wrapper{
  width: 0px;
  position: absolute;
    left: -230px;
}
.clients{
  flex-direction: column;
}
.subMain{
/* display: none;
  left: -10px;
  z-index: 1036; */
  display: none;
  width: 20%;
  position: absolute;
    left: -20%;
    margin-top: 90px;

}
.app{
  padding: 10px 5px;
}
}


  .eventForm{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
.eventForm,textarea{
    width: 100%;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    font-size: 13px;
    border-radius: 10px;
    outline: none;
  }
  .saveButton{
    padding: 10px 30px;
    outline: none;
    border: none;
    background-color: #033A53;
    color: #ffffff;
    border-radius: 10px;
  }
  .closeButton{
    padding: 10px 30px;
    outline: none;
    border: none;
    background-color:transparent;
    color: #ffffff;
    border-radius: 10px;
  }
  
  
  .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 29, 32,0.9);
    z-index: 10;
  }
  
  .form-group{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

